# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
docs
.idea
venv/

compiled/
util/analysisrunner/analysis_result.csv
util/analysisrunner/durationanalysis.csv
util/analysisrunner/stability

build/

.vscode/
.venv/
util/measure_program/old/
util/measure_program/results/*/