name: Code quality
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  inspect-code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cppcheck python3-pip
          pip3 install cpplint

      - name: Run cppcheck
        run: |
          cppcheck --enable=all --inconclusive --std=c++17 --force --disable=missingIncludeSystem --error-exitcode=1 ./src/main

      - name: Run cpplint
        run: |
          find ./src/main -name '*.cpp' -o -name '*.h' | xargs cpplint --linelength=120 --quiet